@font-face {
  font-family: "iconfont"; /* Project id 4804276 */
  src: url('iconfont.woff2?t=1736175251905') format('woff2'),
       url('iconfont.woff?t=1736175251905') format('woff'),
       url('iconfont.ttf?t=1736175251905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\e600";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-wubanhua:before {
  content: "\e807";
}

.icon-xinfeng:before {
  content: "\e621";
}

.icon-xingbienan:before {
  content: "\e629";
}

.icon-erji:before {
  content: "\e64b";
}

.icon-jiantou-xia:before {
  content: "\e62d";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-zuoshuangjiantou:before {
  content: "\e65c";
}

.icon-gongneng:before {
  content: "\e84a";
}

.icon-linlishiji:before {
  content: "\e639";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-gangbi:before {
  content: "\e6b0";
}

.icon-linggan:before {
  content: "\e6c9";
}

.icon-gengduo:before {
  content: "\e641";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-shouye:before {
  content: "\f461";
}

.icon-a-iconhuaban2:before {
  content: "\e605";
}

.icon-a-bajiaowangguanhuangguanxunzhanghuizhangwwwbirckejcn:before {
  content: "\e643";
}

.icon-xiaozu:before {
  content: "\e601";
}

