@font-face {
  font-family: "iconfont"; /* Project id 4796663 */
  src: url('iconfont.woff2?t=1735298542593') format('woff2'),
       url('iconfont.woff?t=1735298542593') format('woff'),
       url('iconfont.ttf?t=1735298542593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-yingyuan:before {
  content: "\e8c0";
}

.icon-taopiaopiao:before {
  content: "\e60a";
}

.icon-jinru:before {
  content: "\e621";
}

.icon-xiala:before {
  content: "\e622";
}

