/* 通用版心 */
.wrapper {
  margin: 0 auto;
  width: 1550px;
}

em,
i {
  font-style: normal;
}

/* 顶部导航 */
.top-nav {
  background-color: #fff;
}

/* 顶部导航版心 */
.top-nav .wrapper {
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
}

/* 右侧 */
.top-nav .left ul {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.top-nav li {
  position: relative;
}

/* 分隔垫片 */
.top-nav .spacer {
  margin: 0 16px;
  width: .0313rem;
  height: 8px;
  background-color: rgba(0, 0, 0, .2);
}

/* 定位字体图标 */
.top-nav .left .icon-shouhuodizhi {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  color: #ff0f23;
}



/* 定位地址选择*/
.top-nav .left ul li:first-child {
  cursor: pointer;
  padding-left: 15px;
}


/* 请登录超链接 */
.top-nav .left .login {
  display: inline-block;
  margin-right: 8px;
  color: #ff0f23;
}

/* 右侧 */
.top-nav .right ul {
  display: flex;
  align-items: center;
}

.top-nav .right .icon-box {
  padding-right: 20px;
}

/* 下拉选择字体图标 */
.top-nav .icon-arrow-down-bold {
  position: absolute;
  right: 0;
  font-size: 8px;
}

.top-nav a:hover {
  color: #ff0f23;
}

/* 网站头部区域 */
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 134px;
  /* background-color: skyblue; */
}

/* logo区域 */
header .logo h1,
header .logo h2 {
  display: none;
}

/* logo图片 */
header .logo img {
  border: 0;
  vertical-align: middle;
}

/* 搜索框区域 */
header .search-box {
  width: 1008px;
  height: 44px;
  border: 2px solid #ff0f23;
  border-radius: 8px;
  background-color: #fff;
}

/* 搜索输入框 */
header .search-input {
  float: left;
  padding-left: 22px;
  width: 856px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
}


/* 搜索按钮 */
header .search-box .btn {
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 6px;
  width: 80px;
  height: 36px;
  line-height: 36px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #ff0f23;
  cursor: pointer;
}



/* 照相机 a 标签 */
header .search-box a {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  /* background-color: rebeccapurple; */
}

/* 照相机字体图标 */
header .search-box .icon-zhaoxiangji {
  font-size: 25px;
}

/* 热搜文字区域 */
.search .hot-words {
  margin-top: 5px;
  overflow: hidden;
  width: 984px;
}

.search .hot-words a {
  margin-right: 12px;
  white-space: nowrap;
  color: #505259;
}

.search .hot-words .active {
  color: #ff0f23;
}

.search .hot-words a:hover {
  color: #ff0f23;
}



/* 右侧京豆广告 */
header .treasure img {
  width: 190px;
  height: 120px;
  vertical-align: middle;
}

/* 网站内容 */
.bd .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 424px;
  background-color: #fff;
  border-radius: 12px;
}

/* 左侧商品分类列表 */
.bd .left {
  padding: 8px 0;
  width: 240px;
  height: 384px;
  border-radius: 8px;
  /* background-color: hotpink; */
  background-color: #F7F8FC;
}

.bd .left li {
  padding-left: 18px;
  height: 34px;
  line-height: 34px;
  transition: background-color .2s ease;
}

.bd .left li .iconfont {
  margin-right: 10px;
}

.bd .left li:hover {
  background-color: #d9d9d9;
}

.bd .left li a:hover {
  color: #ff0f23;
  text-decoration: underline;
}

/* 分隔符 */
.bd .left li span {
  font-size: 12px;
  padding: 0 4px;
}

/* 中间区域 */
.bd .center {
  width: 1008px;
  height: 384px;
  /* background-color: skyblue; */
}

/* 中间顶部导航 */
.bd .center .center-nav {
  width: 1008px;
  height: 48px;
  border-radius: 8px;
  background-color: #F7F8FC;
  overflow: hidden;
}

.bd .center .center-nav li {
  display: inline-block;
}

.bd .center .center-nav li a {
  margin: 0 24px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  color: #1A1A1A;
  transition: color .2s ease;
}

.bd .center .center-nav li:first-child a {
  color: rgb(253, 17, 50)
}

.bd .center .center-nav li:first-child img {
  margin-right: 8px;
  height: 16px;
  vertical-align: middle;
}

.bd .center .center-nav li a:hover {
  color: rgb(253, 17, 50)
}

/* 分隔 */
.bd .center .center-nav span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, .06);
}

/* 中间下面内容 */
.bd .center .center-content {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}

/* 内容左边轮播图片 */
.bd .center .center-content .slider-pic {
  position: relative;
  width: 240px;
  height: 320px;
  border-radius: 8px;
  /* background-color: hotpink; */
}

.bd .center .center-content .slider-pic ul {
  display: flex;
  overflow: hidden;
}

.bd .center .center-content .slider-pic li a {
  display: inline-block;
  width: 240px;
  height: 320px;
}

.bd .center .center-content .slider-pic li img {
  width: 240px;
  height: 320px;
  vertical-align: middle;
  border: 0;
  border-radius: 8px;
}

/* 轮播图片下方切换小圆点 */
.slider-pic ol {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  opacity: 0;
}

.slider-pic ol li {
  margin: 3px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pic:hover ol {
  opacity: 1;
}

.slider-pic ol li:hover {
  border-radius: calc(12/2)px;
  width: 20px;
  background-color: #ff0f23;
}

/* 中间下面商品内容区域 */
.bd .center .center-content .product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 496px;
  height: 320px;
  border-radius: 8px;
  /* background-color: #ff0f23; */
}

/* 单个商品 */
.product-box .product {
  width: 240px;
  height: 152px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  border: .5px solid rgba(0, 0, 0, .06);
  background: linear-gradient(180deg, rgba(255, 86, 1, .08), rgba(255, 86, 1, 0) 25.66%), #FFF;
}

/* 百亿补贴标题 a标签 */
.product-box .product .product-title {
  display: inline-flex;
  color: #1A1A1A;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin: 12px 16px;
}

/* 百亿补贴图片 */
.product-box .product .slogan-pic {
  height: 18px;
  vertical-align: middle;
}

/* 百亿补贴文字 */
.product-box .product .product-slogan {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 4px;
  border-radius: 4px;
  background: #FF0F23;
  color: #FFF;
  margin-left: 4px;
  font-size: 12px;
}

/* 百亿补贴两个商品盒子 */
.product-box .product .baiyibutie {
  display: flex;
  justify-content: space-around;
}

/* 商品a标签 */
.baiyibutie .baiyibutie-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

/* 商品图片 */
.baiyibutie .baiyibutie-item-img {
  width: 82px;
  height: 82px;
}

/* 商品补贴 */
.baiyibutie .baiyibutie-item-subsidy {
  padding: 2.5px 4px;
  border-radius: 2px;
  text-align: center;
  color: #FF0F23;
  background-color: #FFEBEF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 18px;
}

/* 商品价格 */
.baiyibutie .baiyibutie-item-price {
  color: #FF0F23;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  font-weight: 700;
}

.baiyibutie .baiyibutie-item-price .price-origin>span {
  font-size: 16px;
}



/* 商品内容右边icon图标 */
.bd .center .center-content .service {
  padding: 16px;
  width: 240px;
  height: 320px;
  border-radius: 8px;
  background-color: #F7F8FC;
}

.service .service-item {
  width: 208px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service .service-item li {
  width: 69px;
  height: 72px;
  text-align: center;
}

.service .service-item a {
  display: block;
}

.service .service-item span {
  display: block;
}

/* 右边 */
.bd .right {
  padding: 10px;
  position: relative;
  width: 240px;
  height: 384px;
  border-radius: 8px;
  background-color: #F7F8FC;
}

.bd .right .user {
  overflow: hidden;
}

.bd .right .user img {
  float: left;
  border-radius: 50%;
}

.bd .right .user-txt {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  color: #000;
}

.bd .right .user-txt a {
  display: block;
}

/* 登录文字与按钮 */
.right .login {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.right .login p:nth-child(2) {
  margin: 10px 0;
  font-size: 14px;
  font-weight: normal;
}

/* 登录按钮 */
.login .login-btn {
  padding: 10px 80px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  background-color: #FF0F23;
  cursor: pointer;
}

/* 收藏图标 */
.collection {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.collection .collection-item {
  text-align: center;
  font-size: 12px;
}

.collection .collection-item a {
  display: inline-block;
}

.collection .collection-item .iconfont {
  font-size: 20px;
}

/* plus会员 */
.right .puls {
  display: flex;
  justify-content: space-between;
  width: 220px;
  position: absolute;
  bottom: 0;
}

.right .puls img {
  border-radius: 8px;
}